x=5
print (float(x))

In [3]:
y=3.45
print (int (y))

3

In [4]:
a="""Sara Saracevic
Novi Payar,Rifat Burdzovic Trso
14 godina ,osmi razred."""
print (a)

Sara Saracevic
Novi Payar,Rifat Burdzovic Trso
14 godina ,osmi razred

In [1]:
auto=""" 
Mercedes
Beli
2021"""
print (auto)

Mercedes
Beli
2021

In [4]:
ime='Sara'  #prvo slovo je 0,drugo slovo 1 itd.
print(ime[1])

a

In [14]:

prezime='saracevic'
print(prezime [0],prezime[8])
print(f'moje prvo slovo prezimena je {prezime [0]}')

#lekcija 'INDEX',gde stringovi predstavljaju niz brojeva od 0 do beskonacno

print(f'moje zadnje slovo prezimena je {prezime[8]}')

len(prezime) #LEN funkcija nam vraca duzinu niza

s c
moje prvo slovo prezimena je s
moje zadnje slovo prezimena je c

9

In [18]:
ime='Sara'
print(len(ime))

prezime='Saracevic'
len(prezime)

4

9

In [5]:
a='otorinolaringologija'
len(a)

20

In [6]:
print(a[8])

a

In [1]:
print(10==10)#zbog uporedjivanja
print(5>3)
print(2<5)
print(10!=9)#ynak uyvika odredjuje nejednakist

True
True
True
True

In [2]:
print(10==(8-5))
print(5>6)
print(5<2)
print(10!=10)

False
False
False
False

In [1]:
bool('hello')

True

In [2]:
bool(15)

True

In [3]:
bool('')

False

In [4]:
bool(0)

False

In [5]:
ime = 'Sara'
print(bool(ime))

True

In [6]:
bool(["apple","cherry","banana"])

True

In [8]:
bool(None)

False

In [9]:
'sara'.upper()

'SARA'

In [11]:
'sara'.title()

'Sara'

In [12]:
'SARA'.lower()

'sara'

In [13]:
5+5

10

In [14]:
5-5

0

In [15]:
5*3

15

In [16]:
4/2

2.0

In [17]:
5**2

25

In [18]:
5%2

1

In [1]:
7//2 #celobrojno deljenje

3

In [2]:
5**2 #5*5

25

In [3]:
5**4 #5*5*5*5

625

In [9]:
x = 10
x+=40 #x=x+40
print(x)

50

In [14]:

a=100
a-=10
print(a)

90

In [ ]:
#operator `AND`

In [2]:

True and True

True

In [3]:
True and False

False

In [4]:
False and True

False

In [5]:
False and False

False

In [ ]:
#operator `OR`

In [6]:
True or True

True

In [7]:
True or False

True

In [8]:
False or True

True

In [9]:
False or False

False

In [10]:
#primeri

In [13]:
( 10 != 10 ) or ( 10 == 10 )#true

True

In [11]:
(10!=10)and(5>5)#false

False

In [14]:
(10==10)and(4<10)#true

True

In [15]:
(3>3)and(4>5)#false

False

In [16]:
(10==10)and(50<100)and(100>5)#true

True

In [17]:
(1>10)or(5==100)or (5!=4)

True

In [18]:
x = 5
z = 5
y = 10
print(x is y)
print(x is z)  

print(x is not y)

False
True
True

In [16]:
tekst="Twinkle, twinkle, little star,\n \tHow I wonder what you are! \n\t\tUp above the world so high,\n \t\tLike a diamond in the sky.\n Twinkle, twinkle, little star,\n\t How I wonder what you are"
print(tekst)

Twinkle, twinkle, little star,
 	How I wonder what you are!
		Up above the world so high,
 		Like a diamond in the sky.
 Twinkle, twinkle, little star,
	 How I wonder what you are

In [1]:
fruits=["apple","banana","cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [2]:
print(len(fruits)) #lenght

3

In [8]:
print(fruits[2])

apple

In [4]:
print(fruits[1])

banana

In [5]:
print(fruits[2])

cherry

In [6]:
print(fruits[-1])

cherry

In [7]:
print(fruits[-2])

banana

In [9]:
print(fruits[-3])

apple

In [12]:
cars=["audi", "lamburgini", "bmw", "mercedes", "porche"]
print(cars[0:2])

['audi', 'lamburgini']

In [13]:
print(cars[2:4])

['bmw', 'mercedes']

In [14]:
print(cars[3:5])

['mercedes', 'porche']

In [15]:
cars[0]="pasat"
print(cars)

['pasat', 'lamburgini', 'bmw', 'mercedes', 'porche']

In [17]:
cars[1]="polo"
print(cars)

['pasat', 'polo', 'bmw', 'mercedes', 'porche']

In [18]:
cars[4]="golf4"
print(cars)

['pasat', 'polo', 'bmw', 'mercedes', 'golf4']

In [19]:
cars[:2]=["fiat","tesla"]
print(cars)

['fiat', 'tesla', 'bmw', 'mercedes', 'golf4']

In [20]:
cars.insert(1,'ferari')
print(cars)

['fiat', 'ferari', 'tesla', 'bmw', 'mercedes', 'golf4']

In [22]:
cars.insert(5,'skoda')
print(cars)

['fiat', 'ferari', 'tesla', 'bmw', 'skoda', 'skoda', 'mercedes', 'golf4']

In [3]:
colors=['blue','black','yellow','red']
colors.append('pink')
print(colors)

['blue', 'black', 'yellow', 'red', 'pink']

In [4]:
colors.append('orange')
print(colors)

['blue', 'black', 'yellow', 'red', 'pink', 'orange']

In [5]:
colors.append('purple')
print(colors)

['blue', 'black', 'yellow', 'red', 'pink', 'orange', 'purple']

In [6]:
colors.extend(['amber','amazon'])
print(colors)

['blue', 'black', 'yellow', 'red', 'pink', 'orange', 'purple', 'amber', 'amazon']

In [7]:
colors.append(['amber','amazon'])
print(colors)

['blue', 'black', 'yellow', 'red', 'pink', 'orange', 'purple', 'amber', 'amazon', ['amber', 'amazon']]

In [9]:
print(colors[9][0])

amber

In [10]:
print(colors[-1][0])

amber

In [13]:
colors=['blue','black','yellow','red']
colors.append(['pink','purple',['silver','gold']])
print(colors)

['blue', 'black', 'yellow', 'red', ['pink', 'purple', ['silver', 'gold']]]

In [15]:
print(colors[-1][2])

['silver', 'gold']

In [21]:
print(colors[-1][-1][0])

silver

In [24]:
colors=['blue','black','yellow','red']
colors.remove('black')
print(colors)
del colors[1]
print(colors)

['blue', 'yellow', 'red']
['blue', 'red']

In [25]:
colors=['blue','black','yellow','red']
colors.clear()
print(colors)

[]

In [2]:
print(*range(10))

0 1 2 3 4 5 6 7 8 9

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(1,10))#od n1 do n2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [6]:
list(range(10000))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [8]:
1 in(1,2,3,4)#moye i uglaste zagrade

True

In [9]:
5 in (7,9,8)

False

In [12]:
mylist=[8,6,7,5,4,3,45,76,22,49,99,11,33,66]
mylist.sort()
print(mylist)

[3, 4, 5, 6, 7, 8, 11, 22, 33, 45, 49, 66, 76, 99]

In [14]:
family=['sara','samed','bekir','almedina']
family.sort(reverse=True)
print(family)

['sara', 'samed', 'bekir', 'almedina']

In [ ]:
family=['sara','samed','bekir','almedina']

In [2]:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [3]:
druga=thislist
print(druga)

['apple', 'banana', 'cherry']

In [5]:

print(mylist)
cars_all=cars + cars_2
print(cars_all)

['bwm', 'mercedes', 'golf', 'ferrari', 'lamburgini', 'porche']

In [11]:
cars=['bmw','mercedes','golf']
cars_2=['lamburgini','porche','ferrari'] 
cars.append(cars_2)
print(cars[3]) 
print(cars)

['lamburgini', 'porche', 'ferrari']
['bmw', 'mercedes', 'golf', ['lamburgini', 'porche', 'ferrari']]

In [9]:
cars=['bmw','mercedes','golf']
cars_2=['lamburgini','porche','ferrari'] 
cars.extend(cars_2)
print(cars)

['bmw', 'mercedes', 'golf', 'lamburgini', 'porche', 'ferrari']

In [14]:
cars=['bmw','mercedes','golf','bmw']#count broji elemente liste
cars_2=['lamburgini','porche','ferrari'] 
cars_all=cars+cars_2
print(cars_all.count('bmw'))

2

In [1]:
mytuple = ("apple", "banana", "cherry")#lista sa obicnim zagradama 
print(mytuple)
print(type(mytuple))#funkcija type ,odre]uje tip (int,flot,string ,tuple,list itd...)

('apple', 'banana', 'cherry')
<class 'tuple'>

In [2]:
print(len(mytuple))#funkcija len broji ajteme u listi

3

In [6]:
print(mytuple[1])
print(mytuple[-1])

banana
cherry

In [9]:
print(f'moj prvi item je:{mytuple[0]}\nmoj poslednji item je: {mytuple[-1]}')

moj prvi item je:apple
moj poslednji item je: cherry

In [10]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])#dve tacke znace OD DO

('apple', 'banana', 'cherry', 'orange')

In [11]:
tuple1=(1,2,3)
tuple2=("a","b","c")
tuple3=tuple1 + tuple2
print(tuple3)

(1, 2, 3, 'a', 'b', 'c')

In [14]:
fruits=("apple", "banana", "cherry")
mytuple=fruits*77
print(mytuple) 


print(mytuple.count('apple'))

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
77

In [4]:
thisset={'mango','banana','jabuka','mango'}
print(thisset)

{'jabuka', 'banana', 'mango'}

In [5]:
set_1={1,2,3}
set_2={3,4,5}
print(set_1.union(set_2))

{1, 2, 3, 4, 5}

{3}

In [7]:
print(set_1.intersection(set_2))

{3}

In [8]:
print(set_1.difference(set_2))

{1, 2}

In [9]:
print(set_2.difference(set_1))

{4, 5}

In [10]:
print(set_2.symmetric_difference(set_1))

{1, 2, 4, 5}

In [17]:
predmeti_1=['voda','punjac','kapa','telefon']
predmeti_2=['kapa','auto','televizor','telefon']
predmeti_1=set(['voda','punjac','kapa','telefon'])
predmeti_2=set(['kapa','auto','televizor','telefon'])
print(predmeti_1)
print(predmeti_2)
print(list(predmeti_1.intersection(predmeti_2)))

{'telefon', 'voda', 'punjac', 'kapa'}
{'telefon', 'auto', 'televizor', 'kapa'}
['telefon', 'kapa']

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [4]:
print(thisdict["brand"])

Ford

In [5]:
print(thisdict["model"])

Mustang

In [6]:
print(thisdict["year"])

1964

In [1]:
person={
    "name":"Sara",
    "last_name":"Saracevic",
    "birth_year":"2006",
    "city":"Novi Pzar",
    "country":"dubai"
}
print(person)

{'name': 'Sara', 'last_name': 'Saracevic', 'birth_year': '2006', 'city': 'Novi Pzar', 'country': 'dubai'}

In [14]:
print(len(person))

5

In [2]:
print(person['name'])

Sara

In [6]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [7]:
print(thisdict['colors'])

['red', 'white', 'blue']

In [8]:
print(thisdict['colors'][2])

blue

In [12]:
person={
    "name":"Sara",
    "last_name":"Saracevic",
    "birth_year":"2006",
    "city":"Novi Pzar",
    "country":"dubai"
}

In [9]:
person['height']=175
print(person)

{'name': 'Sara', 'last_name': 'Saracevic', 'birth_year': '2006', 'city': 'Novi Pzar', 'country': 'dubai', 'height': 175}

In [15]:
person['name']='imran'
print(person)

{'name': 'imran', 'last_name': 'Saracevic', 'birth_year': '2006', 'city': 'Novi Pzar', 'country': 'dubai'}

In [17]:
person.update({'grade':'5'})
print(person)

{'name': 'imran', 'last_name': 'Saracevic', 'birth_year': '2006', 'city': 'Novi Pzar', 'country': 'dubai', 'grade': '5'}

In [18]:
del person['last_name']
print(person)

{'name': 'imran', 'birth_year': '2006', 'city': 'Novi Pzar', 'country': 'dubai', 'grade': '5'}

In [20]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()

print(thisdict)

{}

In [22]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict_2=thisdict
print(thisdict_2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [2]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [7]:
print(myfamily['child1']['name'])
print(myfamily['child2']['name'])
print(myfamily['child3']['name'])

Emil
Tobias
Linus

In [11]:
myfamily["child1"]["name"]="ema"
print(myfamily)

{'child1': {'name': 'ema', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [12]:
myfamily["child1"]["name"]="ema"
print(myfamily)

{'child1': {'name': 'ema', 'year': 2004}, 'child2': {'name': 'Davud', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [13]:
myfamily["child3"]["name"]="Imran"
print(myfamily)

{'child1': {'name': 'ema', 'year': 2004}, 'child2': {'name': 'Davud', 'year': 2007}, 'child3': {'name': 'Imran', 'year': 2011}}

In [25]:
myfamily["child1"]["grade"]=5
print(myfamily)

{'child1': {'name': 'ema', 'year': 2004, 'grade': 5}, 'child2': {'name': 6, 'year': 2007, 'grade': 6}, 'child3': {'name': 'Imran', 'year': 2011, 'grade': 7}}

In [24]:
myfamily["child2"]["grade"]=6
print(myfamily)

{'child1': {'name': 'ema', 'year': 2004, 'grade': 5}, 'child2': {'name': 6, 'year': 2007, 'grade': 6}, 'child3': {'name': 'Imran', 'year': 2011, 'grade': 7}}

In [23]:
myfamily["child3"]["grade"]=7
print(myfamily)

{'child1': {'name': 'ema', 'year': 2004, 'grade': 5}, 'child2': {'name': 6, 'year': 2007, 'grade': 7}, 'child3': {'name': 'Imran', 'year': 2011, 'grade': 7}}

In [1]:
phone={
    'brand':'iphone',
    'pixel':'12mpx',
    'touch':True,
    'price':'1000e'
}
print(phone)

{'brand': 'iphone', 'pixel': '12mpx', 'touch': True, 'price': '1000e'}

In [4]:
phone['price']=1100
print(phone)

{'brand': 'iphone', 'pixel': '12mpx', 'touch': 'True', 'price': 1100}

In [5]:
phone.clear()
print(phone)

{}

In [2]:
a=23
b=44
a==b

False

In [3]:
a!=b

True

In [4]:
a<b

True

In [5]:
a<=b

True

In [6]:
a>b

False

In [7]:
a>=b

False

In [5]:
temperatura=31
if temperatura > 24:
    print("toplo je")

toplo je

In [3]:
broj=505
if broj>100:

    print("Broj je veci od 100")
    
else:
    print("broj je tacno 50")

Broj je veci od 100

In [1]:
name="Sara"
if name[0]=='S':
    print("sara ima slovo s")

sara ima slovo s

In [ ]:
broj=5
if broj % 2 ==0:
    print("broj je paran")
else:
    print("neparan je")

:

In [5]:
i=1
while i <6:
    print(i)
    i=i+1

1
2
3
4
5

In [11]:
s=1
while s <11:
    print(s)
    s=s+1

1
2
3
4
5
6
7
8
9
10

In [14]:
i=50
while i<101:
    print(i)
    i=i+1

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
i=100
while i >1:
    print(i)
    i=i-1

In [1]:
f=100
while f >1:
    print(f)
    f=f-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [2]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print('petlja je uspesno zavrsena')

1
2
3
4
5
petlja je uspesno zavrsena

In [3]:
i=1
while i<6:
    print(i)
    if i ==3:
        break
        
    i+=1

1
2
3

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [2]:
fruits = "banana"
for x in fruits:
  print(x)

b
a
n
a
n
a

In [6]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [8]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [10]:
lista=[1,2,3,4,5]
for i in lista:
    if i == 3:
        break
        print(i)

In [13]:
for x in range(1,6):
     print(x)

1
2
3
4
5

In [14]:
I='hello'
for i in I:
     print(I)

hello
hello
hello
hello
hello

In [16]:
I='copy'
for x in range(5):
     print(I)

copy
copy
copy
copy
copy

In [17]:
lista=[1,2,3,4,5,6,7,8,9,10]
for i in lista:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
lista[1:11]
for i in lista:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
for x in range (1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [24]:
for i in range (1,11):
    if i % 2==0:
          print(i)

2
4
6
8
10

In [1]:
a=("hello")
print(a)

hello

In [8]:
x='sara'
lista=[1,2,3,4,5]
for i in lista:
    print(x)

sara
sara
sara
sara
sara

In [9]:
ime ='sara' 
for i in range(5):
    print(ime)

sara
sara
sara
sara
sara

In [ ]:
for i in range(5):
    print('sara')

In [31]:
for i in range(1,10,2):
       print(i)

1
3
5
7
9

In [24]:
for i in range(6,0,-1):
    print(i)

6
5
4
3
2
1

In [32]:
rec="unosimo policu broj"
lista=[1,2,3,4,5,6,7,8,9,10]
for i in range(1,11):
    print(rec,i)

unosimo policu broj 1
unosimo policu broj 2
unosimo policu broj 3
unosimo policu broj 4
unosimo policu broj 5
unosimo policu broj 6
unosimo policu broj 7
unosimo policu broj 8
unosimo policu broj 9
unosimo policu broj 10

In [9]:
lista=(12,15,32,42,55,75,122,132,150,180,200)
for i in lista:
    if i > 150:
        break
    if i % 5==0:
        print(i)

15
55
75
150

In [22]:
for i in range(1,11):
     if i == 7:
        continue 
    print(i)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [7]:
rec='nakon broja,ide broj'
lista=[0,2,4,6,8,10,12,14,16,18,20]

    print(rec,i)

nakon broja,ide broj 20

In [8]:
zbir=0
for i in range(0,21,2):
    zbir+=i
    print('nakon broja',i,'zbir je:',zbir)

nakon broja 0 zbir je: 0
nakon broja 2 zbir je: 2
nakon broja 4 zbir je: 6
nakon broja 6 zbir je: 12
nakon broja 8 zbir je: 20
nakon broja 10 zbir je: 30
nakon broja 12 zbir je: 42
nakon broja 14 zbir je: 56
nakon broja 16 zbir je: 72
nakon broja 18 zbir je: 90
nakon broja 20 zbir je: 110

In [10]:
for i in range (3):
    print('python je super')

python je super
python je super
python je super

In [12]:
for i in range(3):
    print('python\nje\nsuper')

python
je
super
python
je
super
python
je
super

In [14]:
for i in range(3):
    print('python')

for i in range(3):
    print('je super')

python
python
python
je super
je super
je super

In [3]:
a=input('kako se zoves')

KeyboardInterrupt: Interrupted by user

In [1]:
a=int(input('unesite neki broj:'))
for i in range (10):

IndentationError: expected an indented block (<ipython-input-1-6555265aaa70>, line 2)

In [ ]:
ime=input('kako se zoves')
print(ime)

In [ ]:
print(ime)

In [6]:
brojUcenika = int(input('unesite broj ucenika'))

broj=int(input('unesite prirodan broj'))
for i in range(0,brojUcenika,broj):

    print('ispitivati ce se ucenici sa rednim brojevima:',i+1)

unesite broj ucenika5
unesite prirodan broj2
ispitivati ce se ucenici sa rednim brojevima: 1
ispitivati ce se ucenici sa rednim brojevima: 3
ispitivati ce se ucenici sa rednim brojevima: 5

In [5]:
a=10
b=9
if a>b:
    print('a je veci od b')
else:
    print('b je vece od a')

a je veci od b

In [10]:
a=10
b=87
if a>b:
    print('a je veci od b')
elif a!=b:
    print('a nije jednak b')
    
elif a==b:
        print('a je jednak b')
else:
    print('b je vece od a')

a nije jednak b

In [21]:
a=32
b=76
if a+b>20:
    print('zbir je veci  20')
elif a+b==20:
    print('zbir je jednak 20')
else:
    print('zbir je manji od 20')

zbir je veci  20

In [2]:
a=3
if a>0:
    print('broj je pozitivan')
if a<0:
    print('broj je negativan')
if a==0:
    print('broj je jednak nuli')

broj je pozitivan

In [3]:
a=-2
if a>0:
    print('broj je pozitivan')
if a<0:
    print('broj je negativan')
if a==0:
    print('broj je jednak nuli')

broj je negativan

In [4]:
a=0
if a>0:
    print('broj je pozitivan')
if a<0:
    print('broj je negativan')
if a==0:
    print('broj je jednak nuli')

broj je jednak nuli

In [7]:
a=-2
if a>0:
    print('broj je pozitivan')
elif a<0:
    print('broj je negativan')
else:
    print('broj je jednak nuli')

broj je negativan

In [28]:
a=7
if a>5:
    for i in range(a):
        print('a je vece od 5')
    
else:
    for i in range(5):
        print('a je manje od 5')

a je vece od 5
a je vece od 5
a je vece od 5
a je vece od 5
a je vece od 5
a je vece od 5
a je vece od 5

In [30]:
a=8
print(a<10 and a>3) #logicki operatori and,not,or

True

In [1]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [2]:
i=1
while i<4:
    print(i)
    i+=1

1
2
3

In [ ]:
i=1
while i<4:
    if i ==3:
        break
        print(i)
        i+=1

In [ ]:
i=1
while i<11:
     if i==3:
        continue
    print(i)
        i+=1